<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.springframework" level="OFF"/>
    <logger name="org.apache" level="OFF"/>
    <logger name="org.hibernate" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="org.eclipse" level="OFF"/>
    <logger name="io.undertow" level="OFF"/>
    <logger name="org.xnio" level="OFF"/>
    <logger name="org.jboss" level="OFF"/>
    <logger name="org.springframework.boot" level="OFF"/>
    <logger name="org.springframework.web" level="OFF"/>
    <logger name="org.springframework.security" level="OFF"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[Placy] %d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{20}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.kyver.placy" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="OFF"/>
</configuration>
